@font-face {
    font-family: 'lexend';
    src: url('fonts/LexendPeta-VariableFont_wght.ttf');
    font-weight: normal;
}
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'lexend';
    color: #163644;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, #92E3A9, #78FA9D, #5FCF7F, #4A8A5C);
    background-size: 250% 250%;
    animation: colors 14s ease infinite;
}
.main{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0;

}
.main header{
    display: flex;
    justify-content: center;
}
.main header .logo{
    max-width: 65px;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.322);
}
.section-title-name{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-title-name h1{
    font-size: 40pt;
    padding: 13px;
    border-bottom: 2px solid;
    border-color: #163644;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    text-align: center;
}
footer .div-aviso h2{
    font-size: 14pt;
}

.nav-footer ul{
    display: flex;
    gap: 15px;
}
.nav-footer ul li{
    list-style: none;
    border-radius: 7px;
    padding: 4px;
}
.nav-footer ul li:hover{
    background-color: rgb(253, 255, 129);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.322);
    background-color: rgb(129, 255, 135);
}
.nav-footer ul li img{
    display: block;
    background-color: rgb(129, 255, 135);
    border-radius: 7px;
}
@keyframes colors{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 100%;
    }
}

@media (max-width: 650px){
    .section-title-name h1{
        font-size: 25pt;
    }
    footer .div-aviso h2{
        font-size: 12pt;
    }
}
@media (max-width: 440px){
    .section-title-name h1{
        font-size: 20pt;
    }
    footer .div-aviso h2{
        font-size: 10pt;
    }
}
@media (max-width: 330px){
    .section-title-name h1{
        font-size: 7vw;
    }
    footer .div-aviso h2{
        font-size: 5vw;
    }
}